<%- include("header") -%>


    <h2>This Is About Page</h2>
    <p> Bhaii tu rehne de terese naa ho payega...Nahhh Munnaaaa rehne de na bhaiii...ja gharrrr jaaa
        bhaiiiiiiiiiiiiiiiiii ..okkkkkkkkkkkkkkkk byyyyeeeeeeeeeeeeeeeeeeeeee</p>


    <%- include("footer") -%>